$color: #534227;

.section-a{
  width: 100%;
  height:auto;
  background-image: url(./../../assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper-home{
  //de esta manera hago que el titulo se posicione en el centro.
  display: grid;
  align-items:center;
  //asi hago que la imagen de fondo se ajuste a la pantalla
  min-height:770px;
  max-height:auto;
}
.main-title > h1,h2{
  color: $color;
}
.brand{
  font-size: 57px;
  font-weight: bold;
}
//media queries
@media(min-width: 700px){
  .brand {
    font-size: 73px;
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    }
 //con esto hago que aparezcan las lineas del costado del titulo. tiene que display grid para que funcione.
 .brand:before,
 .brand:after {
 justify-self: center;
 align-self: center;
 content: "";
 border-top: 4.1px solid;
 width: 75%;
  }
}