@media(min-width:768px){
  .container-1{
    display:flex;
    justify-content: center;
    background-color: aqua;
    width:50%;
  }
  .container-2{
    display:grid;
    justify-content: space-between;
    background-color: aquamarine;
    width:50%;
  }
}
.container-1 div, .container-2 div{
border:1px solid black;
padding: 10px;
}

.block-1{
  display: flex;
  flex-basis:50%;
}
.block-2{
  display: flex;
  flex-basis:50%;
}
.box-1,.box-2, .box-3{
  flex-basis: 10%;
  background-color: chocolate;
}