.section-a{
  width: 100%;
  height:auto;
}
.wrapper{
  height: fit-content;
  display:grid;
  align-items: flex-end;
}
.wrapper > div{
  background-color: transparent;
}
.title{
 margin-top: 5.9rem;
 border-radius: 3%;
 display:flex;
 width: fit-content;
 text-align: left;
 padding: 0.15rem;
 color: #f5f4f4;
 background-color:#1a1919;
}
.box-1,.box-2,.box-3{
  //asi acomodo la descripcion que aparece en hover.
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
}
.box-1 >img,
.box-2 >img,
.box-3 >img{
  max-width:102%;
}
.description1, .description2, .description3{
  z-index: 2;
  color:#f3f2f2;
  position: absolute;
  opacity: 0;
  font-size: 13px;
  padding: 0.5rem;
  background-color:#585656;
  transition: transform 2s;
  text-align: left;
}

.box-1:hover img,
.box-2:hover img,
.box-3:hover img{
  filter: brightness(50%);
}
.box-1:hover .description1,
.box-2:hover .description2,
.box-3:hover .description3{
opacity: 0.7;
transition: visibility 0s, opacity 0.5s linear;
}
.slider{
  display:none
}
//media queries
@media(min-width: 650px){
  .box-1,.box-2,.box-3{
    display: none;
  }
  .slider{
    display:flex;
  }
  .title{
    justify-self: center;
  }
  .carousel-caption{
    background-color: #8686867c;
  }
}